﻿/* Sortable styles */

body.dragging, body.dragging * { cursor: move !important; }
pre { background-color: #eeeeee; font-size: 11px; }

#form-builder ol.vertical { margin: 0 0 0 -53px; }
    #form-builder ol.vertical li { display: block; margin: 5px; padding: 5px; border: 1px solid #cccccc; color: #0088cc; background: #eeeeee; }
        #form-builder ol.vertical li.placeholder { position: relative; margin: 0; padding: 0; border: none; }
            #form-builder ol.vertical li.placeholder:before { position: absolute; content: ""; width: 0; height: 0; margin-top: -5px; left: -5px; top: 0; border: 5px solid transparent; border-left-color: blue; border-right: none; }
#form-builder ol i.icon-move { cursor: pointer; }

#form-builder li .add-link { float: right; }
#form-builder li ol { border-top: 1px dotted; padding: 0 0 0 20px; }

#form-builder i.icon-move { display: inline-block; width: 14px; height: 14px; line-height: 14px; vertical-align: text-top; background-image: url("../images/glyphicons-halflings.png"); background-position: -168px -72px; background-repeat: no-repeat; margin: 0 5 0 0; }

#form-builder { }
    #form-builder .form-controls { float: left; position: relative; width: 100%; }
    #form-builder h3 { margin: 5px 0 10px 45px; color: #6D6E72; }
    #form-builder .form-layout { width: 100%; }

.dragged { position: absolute; top: 0; opacity: 0.5; z-index: 2000; }

#form-builder .formWrapper { margin: 5px 0 5px 0; }
    #form-builder .formWrapper p label { color: #000; font-size: 12px; }
    #form-builder .formWrapper p input { width: 100%; }
#form-builder hr { background-color: #cccccc; height: 1px; border: 0; }
.template-title { font-size: 12px; font-weight: bold; margin-left: 5px; }
.template-delete { font-weight: bold; float: right; color: red; cursor: pointer; }


.dateFilterPanel { position: relative; background: #f6f6f6; width: 960px; float: right; padding: 10px 0 5px 10px; margin: 5px 0 5px 0; }
    .dateFilterPanel input[type=text] { width: 80px; text-align: center; }
    .dateFilterPanel a { padding-top: 10px; float: left; }
    .dateFilterPanel li.heading { font-weight: bold; padding-bottom: 3px; border-bottom: 1px solid; margin-bottom: 5px; }
    .dateFilterPanel label { font-weight: bold; }
      .dateFilterPanel li label { font-weight: normal; }

#ulEntityList { list-style-type: none; padding: 5px; float: left; background: #FFF; }
#ulUserList { list-style-type: none; padding: 5px; float: left; margin-left: 11px; background: #FFF; }
