﻿.maptitle {
font-size: 30px;
    line-height: 33px;
    text-align: center;
}
.maptitle span {
	color:#F7941E;
}
#mapwrapper {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 0;
	background-color: transparent;
	min-width: 220px;

}
#map_base svg {
	max-height: 100%;
	width: 100%;
	margin: 0;
}
@media screen and (max-width: 320px){
	#map_base svg {
		height:320px;
	}
}
@media screen and (max-width: 400px) and (min-width: 321px) {
	#map_base svg {
		height:400px;
	}
}
@media screen and (max-width: 480px) and (min-width: 401px) {
	#map_base svg {
		height:434px;
	}
}
@media screen and (max-width: 568px) and (min-width: 481px) {
	#map_base svg {
		height:434px;
	}
}
@media screen and (max-width: 685px) and (min-width: 569px) {
	#map_base svg {
		height:434px;
	}
}
@media screen and (max-width: 767px) and (min-width: 686px) {
	#map_base svg {
		height:434px;
	}
}
@media screen and (max-width: 979px) and (min-width: 768px) {
	#map_base svg {
		height:434px;
	}
}
@media screen and (max-width: 1024px) and (min-width: 980px) {
	#map_base svg {
		height:434px;
	}
}
@media screen and (max-width: 1280px) and (min-width: 1025px) {
	#map_base svg {
		height:434px;
	}
}
@media screen and (min-width: 1281px) {
	#map_base svg {
		height:434px;
	}
}
#map-tip {
   font-size:13px;
    display: none;
    padding: 3px;
    border: 1px solid #EBECED;
    color: #edeef0;
    z-index: 1000;
    float: left;
    position: absolute;
    
    word-break: keep-all;
    white-space: nowrap
	 background: #fff none repeat scroll 0 0;
    border: 0 none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5) inset;
    color: #000;
    display: block;
    padding: 9px;
}
#map-tip p {
	margin: 0!important;
}
#map-tip img {
	float: left;
	padding: 3px;
}