﻿<%@ Master Language="C#" AutoEventWireup="True" CodeBehind="Site.master.cs" Inherits="Website.Site" %>


<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <asp:Literal ID="litSEOData" runat="server"></asp:Literal>

    <title>Vikela</title>
    <link rel="stylesheet" runat="server" href="~/css/normalize.css" />
    <link rel="stylesheet" runat="server" href="~/libs/font-awesome/css/font-awesome.min.css" />
    <!-- less - >Bootstrap CSS -->
    <!-- <link rel="stylesheet/less" type="stylesheet" href="./libs/bootstrap/less/bootstrap.less"> -->
    <!-- <link rel="stylesheet/less" type="stylesheet" href="./less/main.less"> -->

    <!-- css - >Bootstrap CSS -->
    <link rel="stylesheet" runat="server" href="~/css/bootstrap.css" />
    <link rel="stylesheet" runat="server" href="~/css/main.css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <asp:ContentPlaceHolder ID="ContentPlaceHolderHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="cbp-spmenu-push">
    <form id="form1" runat="server">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <div class="contact_menu active">
                <span><a href="mailto:<%=CurrentPage.GetTextByKey("Email")%>"><i class="fa fa-envelope-c"></i></a></span>
                <span><a href="tel:<%=CurrentPage.GetTextByKey("Tell")%>"><i class="fa fa-phone-c"></i></a></span>
            </div>

            <!-- custom dropdown  -->
            <ul class="logged_in_menu nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-c"></i><span>firstname</span>  <b class="fa fa-angle-down pull-right"></b></a>
                    <ul class="dropdown-menu">
                        <li><a runat="server" href="~/app/country-selection-step2.html#stage1">Log In</a></li>
                        <li><a runat="server" href="~/app/country-selection-step2.html#stage1">Account</a></li>
                        <li><a runat="server" href="~/app/country-selection-step1.html">Applications</a></li>
                    </ul>
                </li>
            </ul>
            <!-- //custom dropdown -->
            <a runat="server" href="~/about">About</a>
            <a runat="server" href="~/news">News</a>
            <a runat="server" href="~/contact">Contact</a>
            <a runat="server" href="~/information">Information</a>
            <a runat="server" href="~/terms_and_conditions">Terms & Conditions</a>
            <div class="social-icons-menu">
                <span><a href="<%=CurrentPage.GetTextByKey("UrlFaceBook")%>"><i class="fa fa-facebook-f"></i></a></span>
                <span><a href="<%=CurrentPage.GetTextByKey("UrlTwitter")%>"><i class="fa fa-twitter"></i></a></span>
                <span><a href="<%=CurrentPage.GetTextByKey("UrlLinkedIn")%>"><i class="fa fa-linkedin"></i></a></span>
            </div>
        </nav>
        <header class="">
            <div class="container">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <div class="logo">
                        <a class="navbar-brand" runat="server" href="~/home">
                            <img src="<%="/uploaded/images/" + CurrentPage.GetImageByKey("Logo")["chrPageImageURL"] %>" class="img-responsive" alt="<%=CurrentPage.GetImageByKey("Logo")["chrPageImageALT"] %>" /></a>
                        <a class="navbar-brand mobile" href="index.html">
                            <img src="<%="/uploaded/images/" + CurrentPage.GetImageByKey("Logo-Light")["chrPageImageURL"] %>" class="img-responsive" alt="<%=CurrentPage.GetImageByKey("Logo-Light")["chrPageImageALT"] %>" /></a>
                    </div>
                    <button type="button" id="showLeftPush" class="navbar-toggle pull-left">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown nopai head-social">
                                <a runat="server" href="~/home" class="dropdown-toggle" data-target="dropdown"><i class="fa fa-share-alt"></i></a>
                                <ul class="dropdown-menu social">
                                    <li><a href="<%=CurrentPage.GetTextByKey("UrlFaceBook")%>"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="<%=CurrentPage.GetTextByKey("UrlTwitter")%>"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="<%=CurrentPage.GetTextByKey("UrlLinkedIn")%>"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </li>
                            <li class="nopai dropdown head-social">
                                <a runat="server" href="~/#" class="dropdown-toggle" data-target="dropdown"><i class="fa fa-user-c"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a runat="server" href="~/app/country-selection-step2.html#stage1"><span>Log In</span></a></li>
                                    <li><a runat="server" href="~/#">Account</a></li>
                                    <li><a runat="server" href="~/app/country-selection-step2.html#stage1">Applications</a></li>
                                </ul>
                            </li>

                            <li class='<%=new System.IO.FileInfo(Request.Url.LocalPath).Name == "About.aspx"  ? "active" : string.Empty%>'><a runat="server" href="~/about"><span>About</span></a></li>
                            <li class='<%=(new System.IO.FileInfo(Request.Url.LocalPath).Name == "News.aspx" || 
                            new System.IO.FileInfo(Request.Url.LocalPath).Name == "NewsDetail.aspx")  ? "active" : string.Empty%>'><a runat="server" href="~/news"><span>News</span></a></li>
                            <li class='<%=new System.IO.FileInfo(Request.Url.LocalPath).Name == "Contact.aspx"  ? "active" : string.Empty%>'><a runat="server" href="~/contact"><span>Contact</span></a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="mailto:<%=CurrentPage.GetTextByKey("Email")%>"><i class="fa fa-envelope-c"></i></a></li>
                            <li class="dropdown">
                                <a href="tel:<%=CurrentPage.GetTextByKey("Tell")%>" class="dropdown-toggle" data-target="dropdown"><i class="fa fa-phone-c"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="tel:<%=CurrentPage.GetTextByKey("Tell")%>"><%=CurrentPage.GetTextByKey("Tell")%></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
        </header>
        <asp:ContentPlaceHolder ID="placeholderBody" runat="server">
        </asp:ContentPlaceHolder>
        <section class="block protect-block">
            <div class="container text-center">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2><%=CurrentPage.GetTextByKey("TitleBottom")%></h2>
                        <br>
                        <br>
                        <!-- custom dropdown  -->
                        <div class="cdropdown white noshadow" data-cdropdown>
                            <div class="block">
                                <h2 class="Get_started"><a href="javascript:;"><%=CurrentPage.GetTextByKey("MenuBottom")%> <i class="fa fa-angle-down pull-right"></i></a></h2>
                                <input type="hidden" id="selectbox" name="" value="">
                            </div>
                            <div class="dropdown-list">
                                <ul>
                                    <asp:ListView ID="lvGetStarted" runat="server">
                                        <LayoutTemplate>
                                            <asp:PlaceHolder ID="itemPlaceholder" runat="server"></asp:PlaceHolder>
                                        </LayoutTemplate>
                                        <ItemTemplate>
                                            <li><a href="<%#Eval("chrLinkURL") %>"><%#Eval("chrLinkTitle") %></a></li>
                                        </ItemTemplate>
                                    </asp:ListView>
                                </ul>
                            </div>
                        </div>
                        <!-- //custom dropdown -->
                    </div>
                </div>

            </div>
        </section>

        <footer>
            <div class="footer-wrapper">
                <div class="container">
                    <div class="footer-logo">
                        <a runat="server" href="~/index">
                            <img src="<%="/uploaded/images/" + CurrentPage.GetImageByKey("Logo")["chrPageImageURL"] %>" class="img-responsive" alt="<%=CurrentPage.GetImageByKey("Logo")["chrPageImageALT"] %>" /></a>
                    </div>
                    <ul class="menu">
                        <li class=""><a runat="server" href="~/#">Log In</a></li>
                        <li class=''><a runat="server" href="~/about">About</a></li>
                        <li class=''><a runat="server" href="~/news">News</a></li>
                        <li class=''><a runat="server" href="~/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="col-xs-5 col-sm-3 col-md-4 col-lg-4 social-icons">
                                <a href="<%=CurrentPage.GetTextByKey("UrlFaceBook")%>"><i class="fa fa-facebook-f"></i></a>
                                <a href="<%=CurrentPage.GetTextByKey("UrlTwitter")%>"><i class="fa fa-twitter"></i></a>
                                <a href="<%=CurrentPage.GetTextByKey("UrlLinkedIn")%>"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4 poweredby">
                                <span class="company"><b>Powered by</b> spoor <i class="fa fa-circle"></i>fisher</span>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 rightsidemenu pull-right text-right hidden-xs hidden-sm">
                                <ul>
                                    <li><a runat="server" href="~/information" class="div">Information</a> <a runat="server" href="~/terms-and-conditions">Terms & Conditions</a></li>
                                    <li><a href="mailto:<%=CurrentPage.GetTextByKey("Email")%>"><i class="fa fa-envelope-d"></i></a></li>
                                    <li><a href="tel:<%=CurrentPage.GetTextByKey("Tell")%>"><i class="fa fa-phone-d"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- jQuery -->
        <script src="<%=ResolveUrl("~/libs/jquery/dist/jquery.js") %>"></script>
        <!-- Bootstrap JavaScript -->
        <script src="<%=ResolveUrl("~/libs/bootstrap/dist/js/bootstrap.js") %>"></script>
        <script src="<%=ResolveUrl("~/js/classie.js") %>"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="<%=ResolveUrl("~/js/master.js") %>"></script>
        <!-- <script src="/libs/less/dist/less.min.js" type="text/javascript"></script> -->
        <asp:ContentPlaceHolder ID="ContentPlaceHolderBottom" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
