﻿
/* FC slide out menu styles */
.slide-out-div {
    padding: 20px;
    width: 250px;
    height: 250px;
    background: white;
    border: 1px solid #29216d;
    z-index: 1000;
    font-size: 12px;
}

.slide_out_menu a {
    text-decoration: none;
    color: #000000;
    width: 250px;
    display: inline-block;
    line-height: 22px;
    outline: none;
    height: 22px;
    padding-left: 8px;
    font-style: normal;
}

    .slide_out_menu a:hover {
        text-decoration: none;
        color: #000000;
        background-color: #dbdbdd;
        width: 220px;
        display: inline-block;
        line-height: 22px;
        height: 22px;
        padding-left: 8px;
    }

    .slide_out_menu a:link {
        text-decoration: none;
        color: #000000;
        width: 246px;
        display: inline-block;
        line-height: 22px;
        height: 22px;
        padding-left: 8px;
        font-style: normal;
    }

/* On-site admin menu pop up */
.edit_menu {
    position: absolute;
    width: 30px;
    height: 20px;
    background: #ffffff;
    border: 1px solid #dbdbdd;
    visibility: hidden;
    z-index: 1;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-style: normal;
}

.edit_menu_drop {
    margin-left: 5px;
    visibility: hidden;
    width: 190px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #ffffff;
    font-family: Arial;
    background: #ffffff;
    border: 1px solid #000000;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    vertical-align: middle;
    text-align: left;
    color: #9C9C9C;
}

.edit_menu_drop_title {
    padding-left: 4px;
}

.edit_menu_drop a {
    text-decoration: none;
    color: #000000;
    width: 186px;
    display: inline-block;
    line-height: 22px;
    outline: none;
    height: 22px;
    padding-left: 8px;
    font-style: normal;
}

    .edit_menu_drop a:hover {
        text-decoration: none;
        color: #000000;
        background-color: #dbdbdd;
        width: 156px;
        display: inline-block;
        line-height: 22px;
        height: 22px;
        padding-left: 8px;
    }

    .edit_menu_drop a:link {
        text-decoration: none;
        color: #000000;
        width: 182px;
        display: inline-block;
        line-height: 22px;
        height: 22px;
        padding-left: 8px;
        font-style: normal;
    }

/* Popup window styles */
.main {
    font-family: Arial;
    font-size: 11px;
    color: #000000;
    width: 925px;
}

.title {
    width: 100%;
    height: 25px;
    background-color: #dbdbdd;
    margin-bottom: 10px;
    font-size: 12px;
    position: fixed;
}

    .title .close {
        float: right;
        width: 24px;
        height: 25px;
    }

    .title .title_inner {
        width: auto;
        height: 15px;
        padding-left: 4px;
        padding-top: 7px;
        float: left;
    }

.innerwindow {
    width: 100%;
}

.section {
    width: 100%;
    height: auto;
    float: left;
    border: solid 1px #EAE0EA;
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
    color: #000000;
    padding-bottom: 5px;
    padding-right: 4px;
    margin-bottom: 5px;
}

    .section .headerrow {
        width: 100%;
        height: auto;
        float: left;
        background-color: #EAE0EA;
        font-weight: bold;
        font-family: Arial;
        font-size: 13px;
        color: #000000;
        padding: 2px 2px 2px 2px;
        margin-bottom: 4px;
    }

.input_row {
    width: 100%;
    padding-bottom: 10px;
    height: auto;
    float: left;
    font-family: Arial;
    font-size: 11px;
    color: #000000;
}

    .input_row .field_name {
        width: 15%;
        float: left;
        padding-top: 3px;
        text-align: right;
        padding-right: 2%;
    }

    .input_row .field_control {
        width: 80%;
        float: left;
    }

        .input_row .field_control .input_date {
            border: none;
            background-color: #F1F1F1;
            width: 80px;
            font-family: Arial;
            font-size: 11px;
            color: #000000;
        }

        .input_row .field_control .input_tiny {
            border: none;
            background-color: #F1F1F1;
            width: 20px;
            font-family: Arial;
            font-size: 11px;
            color: #000000;
        }

        .input_row .field_control .input_small {
            border: none;
            background-color: #F1F1F1;
            width: 40px;
            font-family: Arial;
            font-size: 11px;
            color: #000000;
        }

        .input_row .field_control .input_medium {
            border: none;
            background-color: #F1F1F1;
            width: 100px;
            font-family: Arial;
            font-size: 11px;
            color: #000000;
        }

        .input_row .field_control .input_normal {
            border: none;
            background-color: #F1F1F1;
            width: 250px;
            font-family: Arial;
            font-size: 11px;
            color: #000000;
        }

        .input_row .field_control .input_normal_plus {
            border: none;
            background-color: #F1F1F1;
            width: 350px;
            font-family: Arial;
            font-size: 11px;
            color: #000000;
        }

        .input_row .field_control .input_large {
            border: none;
            background-color: #F1F1F1;
            height: 50px;
            width: 100%;
            font-family: Arial;
            font-size: 11px;
            color: #000000;
        }

        .input_row .field_control .high {
            height: 120px;
        }

        .input_row .field_control .input_chkbox {
            border: none;
            outline: none;
        }

        .input_row .field_control .dropdown_small {
            width: 60px;
            font-family: Arial;
            font-size: 11px;
            color: #000000;
        }

        .input_row .field_control .dropdown_normal {
            width: 180px;
            font-family: Arial;
            font-size: 11px;
            color: #000000;
        }

        .input_row .field_control .imagebox {
            width: 100%;
            height: 100px;
            margin-top: 3px;
            border: solid 1px #F1F1F1;
        }

            .input_row .field_control .imagebox .image {
                height: 100%;
                outline: none;
                border: none;
            }

    .input_row .input_large {
        border: none;
        background-color: #F1F1F1;
        height: 50px;
        width: 100%;
        font-family: Arial;
        font-size: 11px;
        color: #000000;
    }

.update {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70%;
    height: 20px;
}

    .update .button {
        width: 62;
        height: 20px;
        float: right;
    }

.updateMessage {
    font-weight: bold;
    font-family: Arial;
    font-size: 12px;
    width: 100%;
    height: 15px;
    float: right;
    text-align: center;
    color: Orange;
    padding-right: 10px;
    padding-top: 4px;
}

.deletionText {
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
}

.html_editor_container {
    width: 100%;
    float: left;
    height: auto;
}

div.ui-datepicker {
    font-size: 10px;
}

/* Drag drop list styles*/
.linklist .linklistheader {
    padding-bottom: 3px;
    width: 100%;
}

    .linklist .linklistheader .linktitle {
        padding-left: 33px;
        padding-bottom: 3px;
        width: 120px;
        float: left;
    }

    .linklist .linklistheader .link {
        padding-left: 33px;
        padding-bottom: 3px;
        width: 195px;
        float: left;
    }

    .linklist .linklistheader .enabled {
        padding-left: 18px;
        padding-bottom: 3px;
        width: 47px;
        float: left;
    }

    .linklist .linklistheader .delete {
        padding-left: 0px;
        padding-bottom: 3px;
        width: auto;
        float: left;
        color: Red;
    }

.linklist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.linklist .listrow {
    line-height: 28px;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .linklist .listrow img {
        vertical-align: middle;
    }

.linklist .addline {
    height: 30px;
    width: 100%;
    background-color: #f7f7f7;
    vertical-align: middle;
    line-height: 28px;
}

    .linklist .addline .filler {
        float: left;
        width: 18px;
        background-color: #ffffff;
        height: 100%;
        font-family: Arial;
        font-size: 11px;
        color: #000000;
    }

    .linklist .addline .fields {
        float: left;
        height: 30px;
        width: auto;
        margin-top: 2px;
        font-family: Arial;
        font-size: 11px;
        color: #000000;
    }

    .linklist .addline .add {
        float: right;
        height: 30px;
        padding-top: 5px;
        padding-right: 5px;
        width: 48px;
    }

.linklist .input_title {
    margin-left: 3%;
    margin-right: 3%;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 28%;
}

    .linklist .input_title:focus {
        border-color: #1ab394 !important;
    }

.linklist .input_link {
    margin-right: 3%;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 28%;
}

    .linklist .input_link:focus {
        border-color: #1ab394 !important;
    }

.linklist .input_enabled {
    margin-right: 3%;
    width: 10%;
}

.linklist .input_delete {
    border: solid 1px Red;
    color: Red;
    width: 10%;
}

/* Drag drop item styles*/
.itemlist .itemlistheader {
    padding-bottom: 3px;
    width: 100%;
}

    .itemlist .itemlistheader .itemtitle {
        padding-left: 33px;
        padding-bottom: 3px;
        width: 270px;
        float: left;
    }

    .itemlist .itemlistheader .itemimage {
        padding-left: 33px;
        padding-bottom: 3px;
        width: 45px;
        float: left;
    }

    .itemlist .itemlistheader .enabled {
        padding-left: 5px;
        padding-bottom: 3px;
        width: 47px;
        float: left;
    }

    .itemlist .itemlistheader .delete {
        padding-left: 8px;
        padding-bottom: 3px;
        width: auto;
        float: left;
        color: Red;
    }

.itemlist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.itemlist .listrow {
    line-height: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: middle;
}

    .itemlist .listrow img {
        vertical-align: middle;
    }

.itemlist .input_itemtitle {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    margin-left: 3%;
    margin-right: 5%;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 28%;
}

    .itemlist .input_itemtitle:focus {
        border-color: #1ab394 !important;
    }

.itemlist .itemimage img {
    border: none;
    margin-right: 3%;
    width: 35px;
    font: 11px;
}

.itemlist .input_enabled {
    margin-right: 3%;
    width: 10%;
}

.itemlist .input_delete {
    border: solid 1px Red;
    color: Red;
    margin-right: 3%;
    width: 10%;
}

/*.itemlist a {
    color: #000000;
    text-decoration: none;
}

    .itemlist a:link {
        color: #000000;
        text-decoration: none;
    }

    .itemlist a:hover {
        color: #000000;
        text-decoration: underline;
    }*/

/* Drag drop related item styles*/
.relateditemlist .relateditemlistheader {
    padding-bottom: 3px;
    width: 100%;
}

    .relateditemlist .relateditemlistheader .relateditemtitle {
        padding-left: 33px;
        padding-bottom: 3px;
        width: 400px;
        float: left;
    }

    .relateditemlist .relateditemlistheader .delete {
        padding-left: 8px;
        padding-bottom: 3px;
        width: auto;
        float: left;
        color: Red;
    }

.relateditemlist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.relateditemlist .listrow {
    background-color: #f7f7f7;
    line-height: 28px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-top: 3px;
}

    .relateditemlist .listrow img {
        vertical-align: middle;
    }

.relateditemlist .addline {
    height: 30px;
    width: 100%;
    background-color: #f7f7f7;
    vertical-align: middle;
    line-height: 28px;
}

    .relateditemlist .addline .filler {
        float: left;
        width: 18px;
        background-color: #ffffff;
        height: 100%;
        font-family: Arial;
        font-size: 11px;
        color: #000000;
    }

    .relateditemlist .addline .fields {
        float: left;
        height: 30px;
        width: auto;
        margin-top: 2px;
        font-family: Arial;
        font-size: 11px;
        color: #000000;
    }

    .relateditemlist .addline .add {
        float: right;
        height: 30px;
        padding-top: 5px;
        padding-right: 5px;
        width: 48px;
    }

.relateditemlist .input_title {
    border: none;
    background-color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
    width: 400px;
    font-family: Arial;
    font-size: 11px;
    color: #000000;
    margin-top: 5px;
}

.relateditemlist .input_delete {
    border: solid 1px Red;
    color: Red;
}

/* Custom page list styles*/
/*.custompagelist a {
    color: #000000;
    text-decoration: none;
}

    .custompagelist a:link {
        color: #000000;
        text-decoration: none;
    }

    .custompagelist a:hover {
        color: #000000;
        text-decoration: underline;
    }*/

/*.custompagelist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custompagelist .custompagelistheader {
    padding-bottom: 3px;
    width: 100%;
}

    .custompagelist .custompagelistheader .headercustompagetitle {
        padding-left: 6px;
        padding-bottom: 3px;
        width: 130px;
        float: left;
    }

    .custompagelist .custompagelistheader .headercustompageurl {
        padding-left: 9px;
        padding-bottom: 3px;
        width: 200px;
        float: left;
    }

    .custompagelist .custompagelistheader .headercustompagetemplate {
        padding-left: 12px;
        padding-bottom: 3px;
        width: 130px;
        float: left;
    }

    .custompagelist .custompagelistheader .headerdelete {
        width: 50px;
        padding-bottom: 3px;
        float: left;
        color: Red;
        text-align: center;
    }

.custompagelist .addline {
    height: 30px;
    width: 100%;
    background-color: #f7f7f7;
    vertical-align: middle;
    line-height: 28px;
}

    .custompagelist .addline .inputcustompagetitle {
        border: none;
        background-color: #ffffff;
        margin-left: 6px;
        margin-right: 0px;
        width: 130px;
        font-family: Arial;
        font-size: 11px;
        color: #000000;
        margin-top: 6px;
    }

    .custompagelist .addline .inputcustompageurl {
        border: none;
        background-color: #ffffff;
        margin-left: 6px;
        margin-right: 0px;
        width: 200px;
        font-family: Arial;
        font-size: 11px;
        color: #000000;
        margin-top: 6px;
    }

    .custompagelist .addline .inputcustompagetemplate {
        border: none;
        background-color: #ffffff;
        margin-left: 6px;
        margin-right: 0px;
        width: 130px;
        font-family: Arial;
        font-size: 11px;
        color: #000000;
        margin-top: 6px;
    }

    .custompagelist .addline .add {
        float: right;
        margin-top: 5px;
        margin-right: 5px;
    }

.custompagelist .listrow {
    height: 30px;
    vertical-align: middle;
    line-height: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .custompagelist .listrow .inputcustompagetitle {
        margin-left: 3%;
        margin-right: 3%;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        font-size: 14px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 15%;
    }

        .custompagelist .listrow .inputcustompagetitle:focus {
            border-color: #1ab394 !important;
        }

    .custompagelist .listrow .inputcustompageurl {
        margin-left: 3%;
        margin-right: 3%;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        font-size: 14px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 15%;
    }
    .custompagelist .listrow .inputcustompageurl:focus {
            border-color: #1ab394 !important;
    }

    .custompagelist .listrow .inputfields {
        float: left;
        width: auto;
    }

    .custompagelist .listrow .inputdelete {
        width: 50px;
        text-align: center;
        float: left;
        margin-top: 3px;
    }

    .custompagelist .listrow .inputchkbox {
        border: solid 1px Red;
        color: Red;
        margin-top: 5px;
    }

    .custompagelist .listrow .inputedit {
        width: Auto;
        text-align: center;
        float: left;
    }*/

.custompagelist .linklistheader {
    padding-bottom: 3px;
    width: 100%;
}

    .custompagelist .linklistheader .linktitle {
        padding-left: 33px;
        padding-bottom: 3px;
        width: 120px;
        float: left;
    }

    .custompagelist .linklistheader .link {
        padding-left: 33px;
        padding-bottom: 3px;
        width: 195px;
        float: left;
    }

    .custompagelist .linklistheader .enabled {
        padding-left: 18px;
        padding-bottom: 3px;
        width: 47px;
        float: left;
    }

    .custompagelist .linklistheader .delete {
        padding-left: 0px;
        padding-bottom: 3px;
        width: auto;
        float: left;
        color: Red;
    }

.custompagelist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custompagelist .listrow {
    line-height: 28px;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .custompagelist .listrow img {
        vertical-align: middle;
    }

.custompagelist .addline {
    height: 30px;
    width: 100%;
    background-color: #f7f7f7;
    vertical-align: middle;
    line-height: 28px;
}

    .custompagelist .addline .filler {
        float: left;
        width: 18px;
        background-color: #ffffff;
        height: 100%;
        font-family: Arial;
        font-size: 11px;
        color: #000000;
    }

    .custompagelist .addline .fields {
        float: left;
        height: 30px;
        width: auto;
        margin-top: 2px;
        font-family: Arial;
        font-size: 11px;
        color: #000000;
    }

    .custompagelist .addline .add {
        float: right;
        height: 30px;
        padding-top: 5px;
        padding-right: 5px;
        width: 48px;
    }

.custompagelist .inputcustompagetitle {
    margin-left: 3%;
    margin-right: 1%;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 20%;
}

    .custompagelist .inputcustompagetitle:focus {
        border-color: #1ab394 !important;
    }

.custompagelist .inputcustompagetemplate {
    margin-right: 2%;
    background-color: #eee;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 15%;
    cursor : not-allowed;
}

    .custompagelist .inputcustompagetemplate:focus {
        border-color: #1ab394 !important;
    }

.custompagelist .inputcustompageurl {
    margin-right: 1%;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 20%;
}

    .custompagelist .inputcustompageurl:focus {
        border-color: #1ab394 !important;
    }

.custompagelist .input_enabled {
    margin-right: 3%;
    width: 10%;
}

.custompagelist .input_delete {
    border: solid 1px Red;
    color: Red;
    width: 10%;
}

.message {
    margin: 10px 0 0;
}

.messageAlt {
    margin-left: 412px;
}

ul span.itemimage {
    border: medium none;
    display: inline-block;
    margin-right: 2%;
    width: 35px;
}

li.noItems {
    margin-left: 35px;
}


input[type=checkbox] {
}
/* SLIDE THREE */
.slideThree {
	width: 80px;
	height: 26px;
	background: #333;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}
