﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UnAuthMaster.Master" AutoEventWireup="true"
    CodeBehind="ForgotPassword.aspx.cs" Inherits="CMS.ForgotPassword" %>

<asp:Content ID="Content1" ContentPlaceHolderID="placeholderHead" runat="server">
        <link id="Link2" href="FluentControls/css/flcontent.css" runat="server" rel="stylesheet" type="text/css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="placeholderBody" runat="server">
    <BP:UCForgotPassword ID="UCForgotPassword" runat="server" />
</asp:Content>
